<h2>Edit Author</h2>
<form action="/books/<%= book.id %>?_method=PUT" method="POST">
    <%- include('_form_fill')%>
        <a href="/books">Cancel</a>
        <button type="submit">update</button>
</form>